body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
:where(.css-1rqnfsa).ant-select-dropdown .ant-select-item-option-content {
margin-top: 10px;
}

.licomponent{
    background-color: rgb(214, 219, 219);
}
.navbar{
    position: sticky;
}
.nav-link{
    color: white;
}

.HomeContainer{
    margin-top:120px;
}

.mailcontainer{
    width: 35%;
    background-color: rgb(82, 83, 84);
    padding: 7px;
    border-radius: 40px;
}
.mailcontainer input{
    background-color: inherit;
    border: none;
    width: 65%;
}
.mailcontainer input:focus{
    outline: none;
}
.HomeContainer button{
    margin-left: 7px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.signupinput{
    width: 50%;
    height: 50px;
    background-color: white;
}
.commentcontainer{
    width: 60%;
    margin: auto;
}
.commentsection{
    padding: 10px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    color: black;
}